.choiceBtn{
    line-height: 30px;
    width: 150 px;
}


#gameDiv{
    font-family: 'BRush Script MT',cursive;
    border: 3px solid;
    border-radius:25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
#playerText{
    color:blue;

}
#computerText{
    color: red;
}